name: Pushing to Production

on:
  pull_request:
    types: [ready_for_review]
    branches: [main]

jobs: 
  build:
    runs-on: ubuntu-latest
    strategy:
      matric:
        node-version: [14.x, 16.x, 18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matric.node-version }}
    - run: yarn install
    - run: yarn build